@model IEnumerable<Identity.Context.Conference>

@{
    ViewData["Title"] = "AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

<p>
    <a asp-action="Create">Konferans Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSite)
                </td>

                <td>
                    @Html.ActionLink("AddTag", "AddTag", "Admin", new { id = item.ConfID }) |
                    @Html.ActionLink("AddSubmission", "AddSubmission", "Admin", new { id = item.ConfID })
                    @Html.ActionLink("ViewSubmission", "Index", "Submission", new { id = item.ConfID })
                </td>
            </tr>
        }
    </tbody>
</table>

